.menu-btn{
  width:7rem;
  height: 9rem;
  //display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.btn-icon{
  font-size: 3rem;
}

.modal-content2{

}
