<app-breadcrumb [path]=path></app-breadcrumb>
<div class="row w-100">
  <div class="col-sm-4  justify-content-md-center">
    <div class="row mt-lg-5">
      <button type="button" class="btn btn-secondary w-25 me-2 ms-lg-5">Secondary</button>
      <button type="button" class="btn btn-secondary w-25">Secondary</button>
    </div>
    <div class="row mt-lg-5 position-absolute bottom-0 start-0 mb-5  ">
      <div class="card ms-lg-5 " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Legenda</h5>
          <div class="card-text">
            <b>Klik</b><br>
            <b>Shift + Klik</b>
            <div class="square"></div>
            <div class="square stripes "></div>
            <div class="square text-center pb-2 pt-0"><p>---</p></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
<app-calendar [needs]="days"></app-calendar>
  </div>
</div>
