<div class="row w-100">
  <div class="col-sm-4  justify-content-md-center"style="max-width: 27rem;">
    <app-breadcrumb [path]=path [back]="'menu'"></app-breadcrumb>
    <div class="row mt-lg-5" >
      <button type="button" class="btn btn-outline-dark menu-btn ms-lg-5 break-all" (click)="onClick()">
        <div class="btn-icon-row row">
          <i class="bi bi-unindent btn-icon"></i></div>
        <div class="btn-text">
          <span>{{'back.menu' | translate}}</span>
        </div>
      </button>
      <div class="card border-primary ms-4 " style="max-width: 11rem;">
        <div class="card-body">
          <h5 class="card-title">{{'load' | translate}}</h5>
          <div class="card-text">
            <hr>
            MAX: {{schedule.maxLoad}}<br>
            <hr>
            <p [style.font-weight]="schedule.maxLoad < schedule.load ? 'bold':'normal'">{{'plan'| translate}}: {{schedule.load}}
          </div>
        </div>
      </div>


    </div>
    <div class="row " *ngIf="schedule.accepted==undefined">
      <button type="button" class="btn btn-accept mt-2  me-2 ms-lg-5" (click)="onAccept()"><i class="bi bi-check-lg i-accept"></i> {{'accept.plan.week'|translate}}</button>
  </div>


  <div class="row mt-lg-5  bottom-0 start-0 mb-5  ">    <div class="card ms-lg-5 " style="max-width: 23rem;">
      <div class="card-body">
        <h5 class="card-title">{{'legend'|translate}}</h5>
        <div class="card-text">
          <div class="line">
            <div class="square text-center pb-2 pt-0"><p>---</p></div><div> - {{'no.your.action'|translate}}</div></div>
          <div class="line">
            <div class="square" style="background-color:#FFFACD;"></div><div> - {{'your.no.missing'|translate}}</div></div>
          <div class="line">
            <div class="square" style="background-color: pink;"></div><div> - {{'your.missing'|translate}}</div></div>
          <div class="line">
            <div class="square " style="background-color: #B9D9EB;"></div><div> - {{'your.action.here'|translate}}</div></div>


        </div>
      </div>
    </div>
  </div>
</div>
<div class="col mt-3 ms-lg-5 justify-content-end">
  <app-calendar [needs]=availability [schedule]="schedule" [isSchedule]=true></app-calendar>
</div>
</div>


