.menu-btn{
  width:10rem;
  height: 12rem;
  //display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logout-btn{
  width:7rem;
  height: 9rem;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.btn-icon-row{
  //transform: scale(6);
  //display: inline-block !important;
  //vertical-align:middle;
  //align-self: start;
  //top:0px;
  //position: absolute;
  //top:20px;
  //margin: 0 auto;
  height: 65%;
  margin-bottom: 10px;
  text-align:center;
}
.btn-icon{
  font-size: 6rem;
}
.logout-icon-row{
  height: 65%;
  text-align:center;
}
.logout-icon{
  font-size: 4rem;
}


.btn-text{
  font-size: large;
  font-weight: bolder;
  //display: inline-block;
  margin-bottom: 5px;
  //margin-top: 1rem;
  align-self: flex-end;
  bottom: 0;
  text-align:center;
}
