<app-breadcrumb [path]=path></app-breadcrumb>
<nav class="mt-2 mx-lg-4">
  <button type="button" class="btn btn-outline-dark logout-btn " (click)="onClick()">
    <div class="logout-icon-row row">
      <i class="bi bi-door-open logout-icon"></i></div>
    <div class="">
      <span>Powrót do Logowania</span>
    </div>
  </button>
</nav>
<div class="container  w-25">

<div class="row align-items-center">
    <div class="col align-items-end">
      <button type="button" class="btn btn-outline-dark menu-btn" (click)="onActionsClick()">
        <div class="btn-icon-row row">
          <i class="bi bi-list-check btn-icon"></i></div>
        <div class="btn-text">
          {{'action.list'|translate}}
        </div>
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-dark menu-btn" (click)="onBeVolonteer()">
        <div class="btn-icon-row row ">
          <i class="bi bi-person-fill btn-icon"></i></div>
        <div class="btn-text  ">
          <span>{{'become.volonteer' | translate}}</span>
        </div>
      </button>

    </div>

  </div>
</div>
<app-modal-button-menu #menuModal></app-modal-button-menu>

