.row{
  //width: 100%;
}
.actions{
  bottom:0px;

  //justify-content: space-between;

}

.td-custom{
  height: 0.4rem !important;
}
th{
  font-size: smaller;
}
.main-table td:last-of-type {
  border-right: none;

}
.main-table td:first-of-type{
  border-left: none;

}
.line{
  display: flex;
  justify-content: left;
  //padding: 3px;
}
.stripes {
  background: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 5px,
      #6495ED 5px,
      #6495ED 10px
  );
}

.square {
  height: 20px;
  width: 35px;
  background-color: transparent;
  margin-bottom: 5px;
  border:1px solid #000;
  margin-right: 5px;
}
