.row{
  //width: 100%;
}
.actions{
  bottom:0px;

  //justify-content: space-between;

}
.btn-accept{
  color: #fff;
  background-color: #146c43;
  border-color: #198754; /*set the color you want here*/

}

.btn-accept:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #198754;
  border-color: #198754; /*set the color you want here*/
}


.td-custom{
  min-height: 3.0rem !important;
  height: 3.25rem !important;
  max-height: 3.5rem !important;
  border : black;
  display: flex;
}
th{
  font-size: smaller;
}
.main-table td:last-of-type {
  border-right: none;

}
.main-table td:first-of-type{
  border-left: none;

}
.line{
  display: flex;
  justify-content: left;
  //padding: 3px;
}
.stripes {
  background: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 5px,
      #6495ED 5px,
      #6495ED 10px
  );
}

.square {
  height: 20px;
  min-width: 35px;
  background-color: transparent;
  margin-bottom: 5px;
  border:1px solid #000;

}

.line-text{
  text-wrap: normal;
  margin-left: 5px;
}
