.menu-btn{

  width:9rem;
  height: 11rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container{
  width: 65%;
}
.btn-icon-row{
  max-height: 50%;
  text-align:center;
}
.btn-icon{
  font-size: 4rem;
}
.logout-icon-row{
  height: 65%;
  text-align:center;
}
.logout-icon{
  font-size: 4rem;
}


.logout-btn{
  width:7rem;
  height: 9rem;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.btn-text{
  font-size: medium;
  font-weight: bolder;
  //display: inline-block;
  margin-bottom: 5px;
  //margin-top: 1rem;
  align-self: flex-end;
  bottom: 0;
  text-align:center;
}
