<app-breadcrumb [path]=path></app-breadcrumb>
<nav class="mt-2 mx-lg-4">
  <button type="button" class="btn btn-outline-dark logout-btn " (click)="onClick()">
    <div class="logout-icon-row row">
      <i class="bi bi-door-open logout-icon"></i></div>
    <div class="">
      <span>Powrót do Logowania</span>
    </div>
  </button>
</nav>
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <button type="button" class="btn btn-outline-dark menu-btn" (click)="onActionsClick()">
        <div class="btn-icon-row row">
          <i class="bi bi-list-check btn-icon"></i></div>
        <div class="btn-text">
          Lista Twoich akcji
        </div>
      </button>

    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-dark menu-btn" (click)="menuModal.openModal()">
        <div class="btn-icon-row row">
          <i class="bi bi-calendar-date btn-icon"></i></div>
        <div class="btn-text">
          <span>Twoja Dostepność</span>
        </div>
      </button>

    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-dark menu-btn" (click)="onScheduleClick()">
        <div class=" row btn-icon-row">
          <i class="bi bi-calendar-check btn-icon"></i></div>
        <div class="btn-text ">
          <span>Plan tygodnia</span>
        </div>
      </button>

    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-dark menu-btn">
        <div class="btn-icon-row row ">
          <i class="bi bi-person-fill btn-icon"></i></div>
        <div class="btn-text  ">
          <span>Twoje dane</span>
        </div>
      </button>

    </div>

  </div>
</div>
<app-modal-button-menu #menuModal></app-modal-button-menu>
