.card-reject {
  background-color: #484848;
  color:white;

}
.card-your{
  background-color: #a3ceef;
  color:white;

}
.card-your-list{
  background-color: #bfddf4;
  cursor: pointer;
}

.card-reject-list{
  background-color: #b1b1b1;
  cursor: pointer;


}

.card-see{
  background-color:#90cf84;
  color:white;

}
.card-see-list{
  background-color:#acdba3;
  cursor: pointer;
}

