<app-breadcrumb [path]=path [back]="'menu'"></app-breadcrumb>
<div class="row ">
  <button type="button" class="btn btn-outline-dark menu-btn ms-lg-5" (click)="onClick()">
    <div class="btn-icon-row row">
      <i class="bi bi-unindent  btn-icon"></i></div>
    <div class="btn-text">
      <span>{{'back.menu' | translate}}</span>
    </div>
  </button>
</div>
  <div class="row justify-content-md-center">
<div *ngIf = "guest!='true'" class="card ms-lg-5  card-your " style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title ">{{'your.action'|translate}}</h5>
    <hr>
    <div class="card-text">
      <ul class="list-group">
        <li *ngFor="let a of yours" class="list-group-item  card-your-list " (click)="actionModal.openModal(a, '#bfddf4')" >{{a.name}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="card ms-lg-5 card-see" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title card-see-title">{{'actions.tosee'|translate}}</h5>
    <hr>
    <div class="card-text">
      <ul class="list-group">
        <li *ngFor="let b of toSee" class="list-group-item card-see-list "  (click)="actionModal.openModal(b, '#acdba3')">{{b.name}}</li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf = "guest!='true'" class="card ms-lg-5 card-reject" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{'actions.rejected'| translate}}</h5>
    <hr>
    <div class="card-text">
      <ul class="list-group">
        <li *ngFor="let c of rejected" class="list-group-item card-reject-list"  (click)="actionModal.openModal(c, '#b1b1b1')" >{{c.name}}</li>
      </ul>
    </div>
  </div>
</div>
</div>
<app-action-modal #actionModal [guest] = "guest" (reactionEmit)="click($event)"></app-action-modal>
