<ng-template #menuModal let-modal class="modal-content"  let-c="close" let-d="dismiss">
      <div class="modal-content modal-content2">
    <div class="modal-header">
<!--        <h5 class="modal-title">Modal title</h5>-->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <i class="bi bi-x-lg"></i>
        </button>      </div>
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col">
            <button type="button" class="btn btn-outline-dark menu-btn" (click)="onScheduleClick()">
              <div class="btn-icon-row row">
                <i class="bi bi-list-check btn-icon" ></i></div>
              <div class="btn-text">
                {{'available.dates' | translate}}
              </div>
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark menu-btn" (click)="onMaxClick()">
              <div class="btn-icon-row row">
                <i class="bi bi-calendar-week btn-icon"></i></div>
              <div class="btn-text">
                <span>{{'max.load'|translate}}</span>
              </div>
            </button>
          </div>
        </div>
      </div>
      </div>
</ng-template>
