<nav class="navbar navbar-expand-lg navbar-light bg-light header px-lg-5 pt-">
  <div>
    <span>Barbara Babacka</span><br>
    <span>w roli <b>wolontariusza</b></span>
  </div>
  <div class="navbar-brand ml-5"><h2>Caritas Poznań</h2></div>

    <form class="form-inline my-2 my-lg-0 px-2 top-0">
      <button class="btn btn-outline-dark btn-sm mx-1" type="submit">PL</button>
      <button class="btn btn-outline-dark btn-sm mx-1" type="submit">UK</button>
      <button class="btn btn-outline-dark btn-sm mx-1" type="submit">UA</button>
    </form>

</nav>
