<app-breadcrumb [path]=path [back]="'menu'"></app-breadcrumb>
<div class="row w-100">
  <div class="col-sm-4  justify-content-md-center">
    <div class="row mt-lg-5">
      <button type="button" class="btn btn-outline-dark menu-btn ms-lg-5 break-all" (click)="onClick()">
        <div class="btn-icon-row row">
          <i class="bi bi-unindent btn-icon"></i></div>
        <div class="btn-text">
          <span>{{'back.menu' | translate}}</span>
        </div>
      </button>
      <br>
      <div class="row mt-4">
        <button type="button" class="btn btn-success me-2 ms-lg-5 menu-btn" (click)="onSaveClick()">  <div class="btn-icon-row row">
          <i class="bi btn-icon bi-database-fill-down"></i></div>
          <div class="btn-text">
            <span>{{'save'|translate}}</span>
          </div>
        </button>
        <button type="button" class="btn  btn-outline-dark menu-btn" (click)="onDismissClick()">
          <i class="bi btn-icon bi-eraser"></i><div class="btn-text">
          <span>{{'cancel' | translate}}</span>
        </div>
        </button>
      </div>
    </div>


  </div>
  <div class="col-lg-5 ms-lg-5">
    <div class="table-responsive-sm">
      <table class="table table-primary table-striped table-bordered main-table  ">
        <thead >
        <tr>
          <th scope="col"></th>
          <th scope="col-6">{{'dates'|translate}}</th>
          <th scope="col-sm-2">{{'hours.howmany'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'this.week'|translate}}</td>
          <td>{{ date1 | translate }}</td>
          <td><input type="number" [formControl]="maxNow" name="maxNow" class="form-control">
          </td>
        </tr>
        <tr>
          <td>{{'next.week'|translate}}</td>
          <td>{{date2}}</td>
          <td><input type="number" [formControl]="max1" name="max1"  class="form-control">
          </td>
        </tr>
        <tr>
          <td>2. {{'second.week'|translate}}</td>
          <td>{{date3}}</td>
          <td><input type="number" [formControl]="max2" name="max2" class="form-control">
          </td>
        </tr>
        <tr>
          <td>3. {{'second.week'|translate}}</td>
          <td>{{date4}}</td>
          <td><input type="number" [formControl]="max3" name="max3" class="form-control">
          </td>
        </tr>
        <tr>
          <td>4. {{'second.week'|translate}}</td>
          <td>{{date5}}</td>
          <td><input type="number" [formControl]="max4" name="max4" class="form-control">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

